body {
  margin: 0;
  overflow: hidden;
}
canvas {
  width: 100%;
  height: 100%;
}

.btnScale {
  transition: transform 0.5s;
}

.btnScale:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

#player2-health {
  position: absolute;
  top: 50px;
  left: 1450px;
  width: 100%;
  text-align: right;
  z-index: 100;
  display: block;
  color: blue;
}

#player1-health {
  position: absolute;
  top: 50px;
  left: 100px;

  width: 100%;
  text-align: left;
  z-index: 100;
  display: block;
}

.modal-content-skip {
  background-color: rgba(0, 0, 0, 0.0001) !important;
  border: rgba(0, 0, 0, 0.0001) !important;
}

.modal-footer-skip {
  border: rgba(0, 0, 0, 0.0001) !important;
}

#btnResume {
  position: absolute;
  top: 170px;
  left: 160px;
}

.inputname {
  position: absolute;
  top: 270px;
  left: 220px;
}

.score {
  position: absolute;
  top: 270px;
  left: 480px;
}

.facebookBtn {
  position: absolute;
  top: 350px;
  left: 220px;
}
.continuebtn {
  position: absolute;
  top: 330px;
  left: 470px;
}

.progress {
  transform: scale(1.5);
  background-image: url("../Assets/Botones/Barra_fondo.png");
  border-radius: 50px;
  border-style: outset;
  border-width: 2px;
  border-color: brown;
  height: 150%;
  width: 300px;
}

.progress-done {
  background-image: url("../Assets/Botones/Barra.png");
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
}

#btnMainMenu {
  position: absolute;
  top: 270px;
  left: 110px;
}
